{% for topic in topics %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">{{ topic.name }}</div>
                <div class="col-md-6 text-right">
                    {{ topic.author }}<br>
                    {{ topic.createdat|date('d/m/y') }}
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div>
                {{ topic.summary }}
            </div>
            <br>
            {% for hashTag in topic.blogTopicHashTags %}
                <a href="{{ path('blog.hash.show', {id:hashTag.id}) }}">
                    #{{ hashTag.name }}
                </a>
            {% endfor %}
            <br>
            <p>
                <a href="{{ path('blog.show', {id: topic.id}) }}">Read more...</a>
            </p>
        </div>
    </div>
{% endfor %}
{% include 'partials/pagination.html.twig' %}

