{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <h1>{{'Create new topic'|trans}}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">{{'Create'|trans}}</button>
        </div>
    </div>
    {{ form_end(form) }}
    <div class="row">
        <div class="col-sm-12 text-right">
            <a class="btn btn-default" href="{{ path('blog.list') }}">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                {{'Back to list'|trans}}
            </a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/jquery.tinymce.min.js"></script>

{#    <script>#}
{#        window.onsubmit = function() {#}
{#            tinymce.activeEditor.selection.select(tinymce.activeEditor.dom.select('p')[0]);#}
{#            alert(tinymce.activeEditor.selection.getContent());#}
{#            let form = document.getElementsByClassName('tinymce');#}
{#            form.addEventListener('submit', alert('submitted tinymce'));#}
{#        };#}
{#    </script>#}

    <script>

      </script>

{#    {{ tinymce_init() }};#}

    {{ encore_entry_script_tags('tinyMCE') }}

    {{ encore_entry_script_tags('hashTagAdd') }}

{% endblock %}

