{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{'Blog'|trans}}</h2>

    <div class="media" style="margin-top: 60px;">
        <div class="media-body">
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="media-heading">
                        <strong>{{ topic.name }}</strong><br>
                    </h3>
                    <h5>
                        <i>{{ 'Author: '|trans }}({{ topic.author }})</i>
                    </h5>
                </div>

                <div class="col-sm-2">
                    <i class="pull-right">{{ 'posted on %date%'|trans({'%date%':topic.createdat|date('m/d/y')}) }}</i>
                </div>
            </div>

            <p>{{ topic.text|nl2br }}</p>

            <div class="row">
                <div class="col-sm-12 text-right">
                    {% if hashTagId>0 %}
                        <a class="btn btn-default" href="{{ path('blog.hash.show', {id:hashTagId}) }}">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            {{'Back to HashTag'|trans}}
                        </a>
                    {% else %}
                        <a class="btn btn-default" href="{{ path('blog.list') }}">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            {{'Back to list'|trans}}
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="media" style="margin-top: 60px;">
                <h2 class="media-heading">
                    <strong>{{'Comments'|trans}}</strong><br>
                </h2>
                <br>
                {% include 'blog/comments/input.html.twig' with {'topicId': topic.id} only %}
            </div>
            <div class="comments-container">
                {% include 'blog/comments/comments.html.twig' with {
                    'comments': topic.blogComment|slice(0, 5)
                } only %}
            </div>

            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <span style="display: none" class="glyphicon glyphicon-repeat" aria-hidden="true" id="spinner"></span>
                </div>
            </div>
            <br>
            <br>

        </div>
    </div>

{% endblock %}
