{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <h2>{{'Blog'|trans}}</h2>
    {% for hash in topic.blogTopicHashTags %}
        <a href="{{ path('blog.hash.show', {id: hash.id}) }}" style="font-size: 20px">#{{ hash.name }}</a>
    {% endfor %}

    <div class="media" style="margin-top: 60px;">
        <div class="media-body">
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="media-heading">
                        <strong>{{ topic.name }}</strong><br>
                    </h3>
                    <h5>
                        <i>{{ 'Author: '|trans }}({{ topic.author }})</i>
                    </h5>
                </div>

                <div class="col-sm-2">
                    <i class="pull-right">{{ 'posted on %date%'|trans({'%date%':topic.createdat|date('m/d/y')}) }}</i>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="slideshow-container">
                        {#                        {% set counter = 0 %}#}
                        {% for image in topic.blogImages %}
                            <div class="mySlides fade">
                                <img src="{{ asset(blog_web_directory ~ '/' ~ image.name) }}">
                            </div>
                            <a style="text-decoration: none;" class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a style="text-decoration: none;" class="prev">&#10094;</a>
                            <a style="text-decoration: none;" class="next" onclick="plusSlides(1)">&#10095;</a>
                            <a style="text-decoration: none;" class="next">&#10095;</a>
                        {% endfor %}
                    </div>
                    <br>

                    <div style="text-align:center">
                        {% for image in topic.blogImages %}
                            {#                            {% set counter = counter + 1 %}#}
                            {#                            <span class="dot" onclick="currentSlide({{ counter }})"></span>#}
                            <span class="dot"></span>
                        {% endfor %}
                    </div>

                </div>
            </div>

              <div>
{#                {{ topic.text|nl2br }}#}
                  {{ topic.text|raw }}
              </div>

            <br>
            <br>

            <br>
            <br>

            <div class="row">
                <div class="col-sm-12 text-right">
                    {% if hashTagId>0 %}
                        <a class="btn btn-default" href="{{ path('blog.hash.show', {id:hashTagId}) }}">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            {{'Back to HashTag'|trans}}
                        </a>
                    {% else %}
                        <a class="btn btn-default" href="{{ path('blog.list') }}">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            {{'Back to list'|trans}}
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="media" style="margin-top: 60px;">
                <h2 class="media-heading">
                    <strong>{{'Comments'|trans}}</strong><br>
                </h2>
                <br>
                {% include 'blog/comments/input.html.twig' with {'topicId': topic.id} only %}
            </div>
            <div class="comments-container">
                {% include 'blog/comments/comments.html.twig' with {
                    'comments': topic.blogComment|slice(0, 5)
                } only %}
            </div>

            <br>
            <br>

        </div>
    </div>

    {{ encore_entry_script_tags('slider') }}

{% endblock %}
