{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{'Blogs of '|trans}}<a href="{{ path('blog.hash.show', {id:hashTag.id}) }}">{{ '#%hashTag%'|trans({'%hashTag%':hashTag.name}) }}</a></h2>

    {% include 'blog/hashtags/table.html.twig' with {'topics': topicsOfHashTag, 'hashTagId':hashTag.id} only %}

    <div class="navigation text-center">
        {{ knp_pagination_render(topicsOfHashTag) }}
    </div>

    <div class="row">
        <div class="col-sm-12 text-right">
            <a class="btn btn-default" href="{{ path('blog.list') }}">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                {{'Back to list'|trans}}
            </a>
        </div>
    </div>
{% endblock %}